{% extends 'base.html.twig' %}

{% block title %}Hello CreePostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container mt-5">
<h1 class="text-center">NOUVEAU POST</h1>
    {{ form_start(form) }}

            {{ form_row(form.contenuPost, {'attr': {'class': 'form-control mb-2'}}) }}

            {{ form_row(form.idStation, {'attr': {'class': 'form-control mb-2'}}) }}

            {{ form_row(form.idCategorie, {'attr': {'class': 'form-control mb-2'}}) }}

            {{ form_row(form.postConfirmer, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.postInfirmer, {'attr': {'class': 'form-control'}}) }}

<div class="text-center">
    <button type="submit" class="btn btn-dark mt-2">Envoyer</button>
</div>
    {{ form_end(form) }}
</div>
{% endblock %}
