{% extends 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% block content %}
		<div class="container-fluid d-flex justify-content-center mt-5">

			<div id="map" style="width: 600px; height: 400px;"></div>


		</div>
		<div class="container">
			<h1 class="mt-4 mb-5">les pannes déclarés par les utilisateurs</h1>

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger mt-4">
					{{ message }}
				</div>
			{% endfor %}

			<div class="row">
				{% for post in posts %}
					<div class="col-md-4">
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Publié par :
									{{ post.idUtlisateur.prenomUtilisateur }}</h5>
								<h6>Message :</h6>
								<p class="card-text">{{ post.contenuPost }}</p>
								<p class="card-text">Station:
									{{ post.idStation.nomStation }}
									- Ligne
									{{ post.idStation.ligne }}</p>
								<p class="card-text">Catégorie:
									{{ post.idCategorie.libCategorie }}</p>
								<a href="{{ path('post_confirm', {'id': post.idPost}) }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-grin-fill text-success" viewbox="0 0 16 16">
										<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM6.488 7c-.23-.598-.661-1-1.155-1-.493 0-.924.402-1.155 1A2.794 2.794 0 0 1 4 6c0-1.105.597-2 1.333-2 .737 0 1.334.895 1.334 2 0 .364-.065.706-.179 1Zm5.334 0c-.23-.598-.662-1-1.155-1-.494 0-.925.402-1.155 1a2.793 2.793 0 0 1-.179-1c0-1.105.597-2 1.334-2C11.403 4 12 4.895 12 6c0 .364-.065.706-.178 1ZM2.696 8.756a.48.48 0 0 1 .382-.118C4.348 8.786 6.448 9 8 9c1.553 0 3.653-.214 4.922-.362a.48.48 0 0 1 .383.118.3.3 0 0 1 .096.29c-.09.47-.242.921-.445 1.342-.263.035-.576.075-.929.115A36.798 36.798 0 0 1 8 10.75c-1.475 0-2.934-.123-4.027-.247-.353-.04-.666-.08-.93-.115A5.457 5.457 0 0 1 2.6 9.045a.3.3 0 0 1 .097-.29ZM8 13.5a5.49 5.49 0 0 1-4.256-2.017l.116.014c1.115.126 2.615.253 4.14.253 1.525 0 3.025-.127 4.14-.253l.117-.014A5.49 5.49 0 0 1 8 13.5Z"/>
									</svg>
								</svg>
								{{ post.postConfirmer }}</a>
							<a href="{{ path('post_infirm', {'id': post.idPost}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill text-danger" viewbox="0 0 16 16">
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
								</svg>
							</svg>
							{{ post.postInfirmer }}</a>
					</div>
					<!-- Bouton pour ouvrir le modal de création de commentaires -->
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-primary open-comment-modal w-50" data-toggle="modal" data-target="#createCommentModal" data-post-id="{{ post.idPost }}">
							Ajouter un commentaire
						</button>

					</div>
					<h3>Commentaires :</h3>
					<ul>
						{% for comment in commentsByPost[post.idPost] %}
							<li>
								<strong>Commenté par :
									{{ comment.idUtlisateur.prenomUtilisateur }}</strong>
								{{ comment.contenuCommentaire }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- Modal de création de commentaires (en dehors de la boucle) -->
<div class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="createCommentModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createCommentModalLabel">Ajouter un commentaire</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{{ path('comment', {'id': '__postId__'}) }}">
					{{ form_start(commentForm) }}
					{{ form_row(commentForm.contenuCommentaire) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary">Ajouter le commentaire</button>
					{{ form_end(commentForm) }}
				</form>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
{% block javascripts %}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>


var map = L.map('map').setView([
50.62925, 3.057256
], 13); // Coordonnées de Lille

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19}).addTo(map);

var popupContent = "Station de métro Rihour, Lille";

var rihourMarker = L.marker([50.635649, 3.063008]).addTo(map).bindPopup(popupContent).openPopup();

// Gestionnaire d'événements pour le clic sur la station Rihour
rihourMarker.on('click', function (e) {
rihourMarker.setPopupContent("La station Rihour est en panne !");
});

var popupContent2 = "Station de métro République beaux arts, Lille";

L.marker([50.631641, 3.06083]).addTo(map).bindPopup(popupContent2).openPopup();

map.on('click', function (e) {
alert("Coordonnées du clic : " + e.latlng.toString());

});




document.addEventListener('click', function (e) {
if (e.target && e.target.classList.contains('open-comment-modal')) {
const postId = e.target.getAttribute('data-post-id'); // Récupérer l'ID du post
const modal = document.querySelector('#createCommentModal');

// Mettre à jour le formulaire avec l'ID du post
const form = modal.querySelector('form');
const action = form.getAttribute('action');
form.setAttribute('action', action.replace('__postId__', postId));

// Ouvrir le modal
$('#createCommentModal').modal('show');

}
});
console.log(postId);

var commentForm = document.querySelector('#createCommentModal form');
var commentButton = document.querySelector('.open-comment-modal');
var commentModal = new bootstrap.Modal(document.getElementById('createCommentModal'));

if (commentForm) {
commentForm.addEventListener('submit', function (e) {
e.preventDefault();
commentModal.hide();
// Réinitialiser le formulaire après l'envoi
commentForm.reset();
});
}

// ///////////////////////////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}
{% endblock %}

